body {    
    padding: 0px;
    margin: 0px;
    margin-top: 85px;
    font-family: 'PT Sans', sans-serif;
}

hr {
    padding: 0px;
    margin: 0px;
    height: 1px;
    border: 0px;
    background-color: rgba(120, 120, 145, 0.05);
}

h3 {
    padding: 0px;
    margin: 5px 0px;
    color: #5C5C5C;
}

#app {
    margin: 20px;
}

.feedback {
    z-index: 999;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    padding: 5px
    background-color: #fafafa;
    text-align: right;
    height: 20px;
}

.search {
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

form.search .searchBox {
    padding: 15px;
    font-size: 2em;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.95);
}

form.search .btn {
    flex: 1;
}

ul.todos {
    margin: 0px;
    padding: 0px;
}

li.todo-item {
    list-style-type: none;
    display: flex;
    background: #fff;
    border: 1px solid rgba(120, 120, 145, 0.15);
    border-radius: 5px;
    border-bottom: 2px solid rgba(120, 120, 145, 0.2);
    height: 68px;
    margin-bottom: 5px;
}

li.todo-item .status {
    border-radius: 5px 0 0 5px;
    width: 8px;
}

.complete {
    background: green;
}

.in-progress {
    background: orange;
}

.backlog {
    background: #999;
}

.todo-item-id {
    font-weight: bold;
    flex: 1;
}

.todo-item-title {
    padding: 8px 13px;
    flex: 1;
}

.todo-item-section {
    border-right: 1px solid rgba(120, 120, 145, 0.05);
    height: 100%;
    padding: 0 8px;
}

.topic {
    text-decoration: none;
    margin: 5px 10px;
    border-radius: 3px;
    background-color: #eee;
    padding: 3px 5px;
}
